@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: rgb(145, 141, 141);
    font-family: ubuntu, sans-serif;
}

/* Nav linkss */

#links {
    background-color: white;
    line-height: 50px;
    text-align: center;
}
  
#links li {
    display: inline-block;
}

#links a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

#links a:hover {
    background-color: black;
    color: white;
    font-size: 30px;
    border: 1px black;
}

/* main header */

#main-header {
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    background-color: white;
}


/* main section */

#main-section {
    height: 505px;
    margin: 0 200px 0 200px;
    display: inline-block;
    border: 2px solid black;
    background-color: white;
}

#main-picture {
    width:50%;
    float: left;
}


#main-picture img {
    height: 100%;
    width: 100%;
    background-size: contain;
}

#main-rext {
    width:50%;
    float: right;
}

.main-text {
    text-align: center;
    font-size: 300%;
    margin: 60px 10px 0 0;
    line-height: 1.5em;
}

.main-text a {
    text-decoration: none;
    color: red;
}

.main-text a:hover {
    background-color: red;
    color: white;
    font-size: 60px;
    border: 1px white;
}

/* Services */

.prod-title {
    text-align: center;
    font-size: 300%;
    margin: 50px 50px;
}

#product-section {
    height: 500px;
    margin: 0 150px;
    display: inline-block;
}

#prod1 {
    width: 33%;
    height: 100%;
    float: left;
    /* background-color: red; */
}

#prod2 {
    width: 33%;
    height: 100%;
    float: left;
    /* background-color: greenyellow; */
}

#prod3 {
    width: 33%;
    height: 100%;
    float: left;
    /* background-color: blue; */
}

.prod {
    text-align: center;
    font-size: 150%;
    padding-top: 20px;;
}

.prod p {
    line-height: 30px;
    margin-top: 10px;

}

/* Open hours and map */

#busines-information {
    width: 100%;
    height: 650px;
    margin-top: 50px;
    display: block;
}

.open-hours {
    width: 100%;
    text-align: center;
    vertical-align: center;
    background-color: white;
}

.open-hours table{
    display: inline;
    text-align: center;
    font-size: 300%;
}

.open-hours h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 300%;
}

.our-location h4 {
    margin-top: 50px;
    text-align: center;
    font-size: 200%;
}

#our-location iframe {
    margin-top: 20px;
    width:100%;
    height: 250px;
}

/* Media */

.media {
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.media a {
    color: black;
    letter-spacing: 100px;
    font-size: 500%;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
}

#form {
    height: 300px;
    font-size: 200%;
    text-align: center;
    margin-top: 50px;
    display: block;
}

.button {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 60%;
    margin-top: 20px;
}
.button:hover {
    background-color: black;
    color: white;
    font-size: 30px;
    border: 1px black;
}

.inputbox {
    width: 50%;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid black;
}