@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    background-color: rgb(145, 141, 141);
    font-family: ubuntu, sans-serif;
}

/* Nav linkss */

#links {
    background-color: white;
    line-height: 50px;
    text-align: center;
}
  
#links li {
    display: inline-block;
}

#links a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

#links a:hover {
    background-color: black;
    color: white;
    font-size: 30px;
    border: 1px black;
}

/* main header */

#main-header {
    line-height: 100px;
    font-size: 40px;
    text-align: center;
    background-color: white;
}

/* boxes */

#box {
    height: 400px;
}


#box-1{
    padding-top: 20px;
    width: 50%;
    height:100%;
    float: left;
    background: url("https://images.pexels.com/photos/7530997/pexels-photo-7530997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-size: contain;
}

#box-2{
    padding-top: 20px;
    width: 50%;
    float: right;
}

.box-2 {
    float: center;
    text-align: center;
    font-size: 250%;
}